.footer {
    background-color: $color-dark;
    color: $color-white;
    padding: $padding-mobile-main;
    @media (min-width: $breakpoint-mobile) {
        padding: 4%;
    }
    &__logo {
        fill: $color-white;
        width: 100px;
        margin-bottom: 5%;
        @media (min-width: $breakpoint-mobile) {
            margin-bottom: 2%;
        }
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: auto;
        }
    }
    &__link {
        text-align: left;
        padding-bottom: 2%;
    }
    &__icon {
        margin-right: 7px;
        width: 15px;
    }
    & .hands {
        font-size: 70%;
    }
}