.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 2;
    @media (min-width: $breakpoint-mobile) {
        box-shadow: none;
    }
    @media (min-width: $breakpoint-tablet) {
        background-color: $color-grey;
    }
    &--home {
        box-shadow: $header-shadow;
    }
    &__logo {
        width: 45%;
        max-width: 300px;
        padding: 27px 0 10px 0;
    }
    &__return-arrow {
        position: absolute;
        left: 6vw;
        top: 30px;
        font-size: 120%;
        color: $color-dark;
        @media (min-width: $breakpoint-mobile) {
            font-size: 200%;
        }  
    }
}