.button-pink {
    height: 50px;
    border-radius: 40px;
    border: none;
    padding: 0 22px;
    background: linear-gradient(175deg, $background-gradient);
    color: $color-white;
    cursor: pointer;
    min-width: 180px;
    font-size: 100%;
    box-shadow: 0px 4px 7px 0px #b9b8b8;
    opacity: 1;
    transition: box-shadow 300ms, opacity 300ms;
    &:hover {
        opacity: 0.9;
        box-shadow: 2px 5px 4px 0px #adadad;
    }
}