@keyframes spinAnimation { 
    0% { 
        transform: rotate(0turn); 
    }
    40% {
        transform: rotate(1turn);
    }
    100% { 
        transform: rotate(3turn);
    } 
} 

@keyframes fadeOutAnimation {
    0% { 
        visibility: visible; 
    } 
    80% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        visibility: hidden; 
    } 
} 

.loading {
    position: fixed;
    top: 0;
    right: 0;
    animation: fadeOutAnimation 3s;
    animation-fill-mode: both;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__spinner {
        width: 50px;
        height: 50px;
        background-color: $color-secondary;
        animation: spinAnimation ease-in 2.5s;
    }
}
