* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}
