.location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-weight: 700;
    height: 50px;
    background-color: $color-grey-dark;
    position: relative;
    color: $color-dark;
    @media (min-width: $breakpoint-tablet) {
        width: 60%;
        margin: 2% auto;
        border-radius: 20px;
    }
    &__icon {
        position: absolute;
        left: -28px;
        font-size: 110%;
    }
    &__text {
        position: relative;
        justify-self: center;
        width: fit-content;
        line-height: 50px;
    }
}

.explanations-container {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.explore {
    background-color: $color-grey;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $breakpoint-tablet) {
        background-color: $color-white;
        width: 50%;
        padding: 0 5%;
        height: 100%;
    }
    &__h1 {
        font-size: 140%;
        width: 70%;
        margin-top: 40px;
        font-weight: 700;
        @media (min-width: $breakpoint-tablet) {
            width: 100%;
            font-size: 150%;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 112%;
        color: $color-dark;
        @media (min-width: $breakpoint-tablet) {
            width: 100%;
            margin: 5% 0;
            font-size: 130%;
        }
    }
    &__button {
        margin-top: 28px;
    }
}

.functioning {
    margin-bottom: 30px;
    @media (min-width: $breakpoint-tablet) {
        padding: 0 5%;
        width: 50%;
    }
    &__h2 {
        padding-left: $padding-mobile-main;
        @media (min-width: $breakpoint-mobile) {
            padding-left: 0;
            text-align: center;
        }
        @media (min-width: $breakpoint-tablet) {
            margin-top: 20px;
            font-size: 150%;
        }
    }
    &__card {
        display: flex;
        width: 320px;
        height: 75px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        margin: auto;
        background-color: $color-grey;
        box-shadow: $main-shadow;
        margin-bottom: 25px;
        cursor: pointer;
        transition: background-color 300ms;
        &:hover {
            background-color: #b38de24b;
            & .functioning__icon {
                color: $color-primary;
            }
        }
    }
    &__nb {
        position: absolute;
        left: -13px;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-primary;
    }
    &__icon {
        position: absolute;
        left: 30px;
        font-size: 130%;
        color: #857f7f;
        width: 20px;
        transition: color 300ms;
    }
    &__text {
        font-weight: 700;
        font-size: 105%;
        color: $color-dark;
    }
}

.resto {
    background-color: $color-grey;
    padding: 30px $padding-mobile-main 50px $padding-mobile-main;
    
    @media (min-width: $breakpoint-mobile) {
        padding: 2rem;
    }
    &__container {
        @media (min-width: $breakpoint-mobile) {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    &__card {
        display: block;
        background-color: $color-white;
        box-shadow: $main-shadow;
        margin-bottom: 1rem;
        border-radius: 15px;
        width: 100%;
        height: 260px;
        position: relative;
        @media (min-width: $breakpoint-mobile) {
            max-width: 250px;
            margin: 0 5px 30px 5px;
        }
        &__image {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 185px;
            position: relative;
        }
        &__new {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $color-tertiary;
            color:  #35a78b;
            font-weight: 700;
            font-size: 90%;
            text-align: center;
            padding: 6px 13px;
            border-radius: 2px;
        }
        &__h3 {
            font-weight: 700;
            font-size: 115%;
            padding-left: 12px;
            margin: 15px 0 5px 0;
            color: $color-dark;
        }
        &__p {
            padding-left: 12px;
            margin: 0;
            margin-bottom: 15px;
            font-size: 112%;
            color: $color-dark;
        }
        &__heart--empty {
            position: absolute;
            right: 22px;
            bottom: 25px;
            font-size: 150%;
            color: #8b8a8a;
            background-color: $color-white;
            z-index: 0;

        }
        &__heart--full {
            position: absolute;
            right: 22px;
            bottom: 25px;
            font-size: 150%;
            background: -webkit-linear-gradient(50deg, $background-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 2;
            opacity: 0;
            transition: opacity 300ms;
            &:hover {
                opacity: 1;
            }
        }
    }
}
