@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.image-top {
    height: 255px;
    width: 100%;
    max-width: 1200px;
    z-index: 0;
    position: absolute;
}

.menu {
    background-color: $color-grey;
    position: relative;
    margin-top: 205px;
    padding: 0 $padding-mobile-main;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    @media (min-width: $breakpoint-mobile) {
        padding: 0 4vw;
    }
    &__inside {
        @media (min-width: $breakpoint-mobile) {
            max-width: 1050px;
        }
    }
    &__h1 {
        font-family: 'Shrikhand';
        font-size: 170%;
        padding-top: 13px;
    }
    &__heart--empty {
        position: absolute;
        top: 40px;
        right: 11vw;
        font-size: 160%;
        color: $color-dark;
        cursor: pointer;
    }
    &__heart--full {
        position: absolute;
        top: 40px;
        right: 11vw;
        font-size: 160%;
        background: -webkit-linear-gradient(50deg, $background-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        transition: opacity 300ms;
        &:hover {
            opacity: 1;
        }
    }
    &__category {
        text-transform: uppercase;
        font-size: 100%;
        font-weight: 400;
        color: $color-dark;
        margin: 30px 0;
        padding: 0;
        position: relative;
        width: 100%;
        &::after {
            content: "";
            width: 45px;
            border-top: 3px solid $color-tertiary;
            position: absolute;
            bottom: -8px;
            left: 0;
        }
    }
    &__container {
        margin: 0;
        margin-bottom: 45px;
        padding: 0;
        list-style-type: none;
        color: $color-dark;
        @media (min-width: $breakpoint-mobile) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__choice {
        background-color: $color-white;
        border-radius: 15px;
        box-shadow: $main-shadow;
        padding: 12px 10px;
        margin-bottom: 15px;
        height: 65px;
        width: 330px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &:nth-child(1) {
            animation: fadeInAnimation ease-in 0.5s both;
        }
        &:nth-child(2) {
            animation: fadeInAnimation ease-in 0.5s 0.5s both;
        }
        &:nth-child(3) {
            animation: fadeInAnimation ease-in 0.5s 1s both;
        }
        &:nth-child(4) {
            animation: fadeInAnimation ease-in 0.5s 1.5s both;
        }
        
        @media (min-width: $breakpoint-mobile) {
            margin: 0 5px 15px 5px;
        }
        @media (max-width: $breakpoint-small-mobile) {
            width: 250px;
        }
        &--container {
            width: 330px;
            &:hover {
                & + .menu__choice__check {
                    transform: translateX(-60px);
                }
                & .menu__choice__price {
                    transform: translateX(-60px);
                }
                & .menu__choice__ingredients {
                    max-width: 200px;
                    @media (max-width: $breakpoint-small-mobile) {
                        width: 140px;
                    }
                }
                & ~ .menu__choice__check > .menu__choice__check--icon {
                    transform: rotate(360deg);
                }
            }
        }
        &__dish {
            font-size: 95%;
            margin: 0;
            margin-bottom: 6px;
        }
        &--flex {
            display: flex;
            justify-content: space-between;
            width: 300px;
            @media (max-width: $breakpoint-small-mobile) {
                width: 230px;
            }
        }
        &__ingredients {
            font-size: 85%;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            transition: max-width 400ms;
        }
        &__price {
            margin: 0;
            font-size: 95%;
            font-weight: 700;
            transition: transform 300ms;
        }
        &__check {
            background-color: $color-tertiary;
            color: $color-white;
            line-height: 65px;
            text-align: center;
            height: 100%;
            width: 60px;
            font-size: 140%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            white-space: nowrap;
            position: absolute;
            right: -60px;
            top: 0;
            transition: transform 300ms;
            &--icon {
                transition: transform 500ms;
            }
        }
    }
}

.order__button {
    display: block;
    margin: 0 auto 50px auto;
}
