$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #ffffff;
$color-grey: #f6f6f6;
$color-grey-dark: #eaeaea;
$color-dark: #353535;

$padding-mobile-main: 6vw;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-small-mobile: 340px;

$main-shadow:  0px 6px 10px 2px $color-grey-dark;
$header-shadow: 0px 2px 4px 0px #c4c1c1;

$background-gradient:  #ff79da 2%, #9356dc 90%;